<h2>Create Employee</h2>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <!-- start personal information -->
    <h5>Personal Information</h5>
    <div class="form-row" id="personInfo">

        <div class="col-sm-4">
            <div class="md-form form-group">
                <label for="firstName">First Name</label>
                <input type="text" class="form-control" required [(ngModel)]="personal.firstName" formControlName="firstName" [ngClass]="{'is-invalid': submitted && f.firstName.errors}" placeholder="First Name" name="firstName" />
                <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                    <div *ngIf="f.firstName.errors.required">Required First Name</div>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="md-form form-group">
                <label for="middleName">Middle Name</label>
                <input type="text" class="form-control" required [(ngModel)]="personal.middleName" formControlName="middleName" [ngClass]="{'is-invalid': submitted && f.middleName.errors}" placeholder="Middle Name" name="middleName" />
                <div *ngIf="submitted && f.middleName.errors" class="invalid-feedback">
                    <div *ngIf="f.middleName.errors.required">Required Middle Name</div>
                </div>

            </div>
        </div>

        <div class="col-sm-4">
            <div class="md-form form-group">
                <label for="lastName">Last Name</label>
                <input type="text" class="form-control" required [(ngModel)]="personal.lastName" formControlName="lastName" [ngClass]="{'is-invalid': submitted && f.lastName.errors}" placeholder="Last Name" name="lastName" />
                <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                    <div *ngIf="f.lastName.errors.required">Required Last Name</div>
                </div>

            </div>
        </div>

        <div class="col-sm-4">
            <div class="md-form form-group">
                <label for="name">Marital Status</label>
                <select id="title" class="form-control" id="maritalStatus" required [(ngModel)]="personal.maritalStatus" name="maritalStatus" formControlName="maritalStatus" [ngClass]="{'is-invalid': submitted && f.maritalStatus.errors}">
                <option value=""></option>
                <option value="SINGLE">SINGLE</option>
                <option value="MARRIED">MARRIED</option>
                <option value="WINDOWED">WINDOWED</option>
                <option value="ANNULED">ANNULED</option>
                </select>
                <div *ngIf="submitted && f.maritalStatus.errors" class="invalid-feedback">
                    <div *ngIf="f.maritalStatus.errors.required">Required Marital Status</div>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="md-form form-group">
                <label for="birthDate">Birth Date</label><br>
                <mat-form-field>
                    <input matInput [matDatepicker]="bDate" class="form-control" id="birthDate" required [(ngModel)]="personal.birthDate" formControlName="birthDate" [ngClass]="{'is-invalid': submitted && f.birthDate.errors}" name="birthDate" placeholder="Select Birthdate">
                    <mat-datepicker-toggle matSuffix [for]="bDate"></mat-datepicker-toggle>
                    <mat-datepicker #bDate></mat-datepicker>
                </mat-form-field>
                <div *ngIf="submitted && f.birthDate.errors" class="invalid-feedback">
                    <div *ngIf="f.birthDate.errors.required">Required Birth date</div>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="md-form form-group">
                <label for="position">Position</label>
                <input type="text" class="form-control" required [(ngModel)]="employee.position" formControlName="position" [ngClass]="{'is-invalid': submitted && f.position.errors}" placeholder="Position" name="position" />
                <div *ngIf="submitted && f.position.errors" class="invalid-feedback">
                    <div *ngIf="f.position.errors.required">Required Position</div>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="md-form form-group">
                <label for="name">Date Hired</label><br>
                <mat-form-field>
                    <input matInput [matDatepicker]="picker" placeholder="Choose a date" class="form-control" id="dateHired" required [(ngModel)]="employee.dateHired" formControlName="dateHired" [ngClass]="{'is-invalid': submitted && f.dateHired.errors}" name="dateHired">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <div *ngIf="submitted && f.dateHired.errors" class="invalid-feedback">
                    <div *ngIf="f.dateHired.errors.required">Required Date Hired</div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="maxl">
            <span>Gender :  </span>

            <label class=" radio inline"> 
            <span>  Male </span> 
            <input type="radio" name="gender" id="gender" required [(ngModel)]="personal.gender" formControlName="gender" [ngClass]="{'is-invalid': submitted && f.gender.errors}" value="MALE" checked>
            
            <span>  Female </span> 
            <input type="radio" name="gender" id="gender" required [(ngModel)]="personal.gender" formControlName="gender" [ngClass]="{'is-invalid': submitted && f.gender.errors}" value="FEMALE">
            <div *ngIf="submitted && f.gender.errors" class="invalid-feedback">
                <div *ngIf="f.gender.errors.required">Required Position</div>
            </div>
            </label>
        </div>
    </div>
    <!-- start personal information -->



    <!-- start contact information -->
    <h5>Contact Information</h5>

    <div class="form-group">
        <div class="maxl">
            <span>Main :  </span>
        </div>
    </div>

    <div class="form-row">
        <div class="col-sm-4">
            <div class="md-form form-group">
                <label for="name">Phone Number</label>
                <input type="text" class="form-control" id="phone" required [(ngModel)]="primaryContact.phone" placeholder="Your Phone number" formControlName="phone" [ngClass]="{'is-invalid': submitted && f.phone.errors}" ngModel maxlength="30" name="phone">
                <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                    <div *ngIf="f.phone.errors.required">Required Max Number 30</div>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="md-form form-group">
                <label for="name">Mobile Number</label>
                <input type="text" class="form-control" id="mobile" required [(ngModel)]="primaryContact.mobile" placeholder="Your Mobile number" formControlName="mobile" [ngClass]="{'is-invalid': submitted && f.mobile.errors}" ngModel maxlength="30" name="mobile">
                <div *ngIf="submitted && f.mobile.errors" class="invalid-feedback">
                    <div *ngIf="f.mobile.errors.required">Required Max Number 30</div>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="md-form form-group">
                <label for="name">Email</label>
                <input type="text" class="form-control" id="email" required [(ngModel)]="primaryContact.email" placeholder="Email@example.com" formControlName="email" [ngClass]="{'is-invalid': submitted && f.email.errors}" name="email">
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">Required Email Address</div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="maxl">
            <span>Optional :  </span>
        </div>
    </div>

    <div class="form-row">
        <div class="col-sm-4">
            <div class="md-form form-group">
                <label for="name">Phone Number</label>
                <input type="text" class="form-control" id="phone" required [(ngModel)]="secondaryContact.phone" placeholder="Your Phone number" name="phone">
            </div>
        </div>

        <div class="col-sm-4">
            <div class="md-form form-group">
                <label for="name">Mobile Number</label>
                <input type="text" class="form-control" id="mobile" required [(ngModel)]="secondaryContact.mobile" placeholder="Your Mobile number" name="mobile">
            </div>
        </div>

        <div class="col-sm-4">
            <div class="md-form form-group">
                <label for="name">Email</label>
                <input type="text" class="form-control" id="email" required [(ngModel)]="secondaryContact.email" placeholder="Email@example.com" name="email">
            </div>
        </div>
    </div>
    <!-- end contact information -->

    <!-- start address information -->
    <h5>Addresses Information</h5>

    <div class="form-group">
        <div class="maxl">
            <span>Main :  </span>
        </div>
    </div>

    <div class="form-row">
        <div class="col-sm-4">
            <div class="md-form form-group">
                <label for="name">House Number</label>
                <input type="text" class="form-control" id="houseNumber" required [(ngModel)]="primaryAddress.houseNumber" formControlName="houseNumber" [ngClass]="{'is-invalid': submitted && f.houseNumber.errors}" placeholder="House number" name="houseNumber">
                <div *ngIf="submitted && f.houseNumber.errors" class="invalid-feedback">
                    <div *ngIf="f.houseNumber.errors.required">Required House Number</div>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="md-form form-group">
                <label for="name">Street</label>
                <input type="text" class="form-control" id="street" required [(ngModel)]="primaryAddress.street" formControlName="street" [ngClass]="{'is-invalid': submitted && f.street.errors}" ngModel maxlength="50" placeholder="Street" name="street">
                <div *ngIf="submitted && f.street.errors" class="invalid-feedback">
                    <div *ngIf="f.street.errors.required">Required Street Address</div>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="md-form form-group">
                <label for="name">Town</label>
                <input type="text" class="form-control" id="town" required [(ngModel)]="primaryAddress.town" formControlName="town" [ngClass]="{'is-invalid': submitted && f.town.errors}" ngModel maxlength="50" placeholder="Town" name="town">
                <div *ngIf="submitted && f.houseNumber.errors" class="invalid-feedback">
                    <div *ngIf="f.houseNumber.errors.required">Required Town Address</div>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="md-form form-group">
                <label for="name">Province</label>
                <input type="text" class="form-control" id="province" required [(ngModel)]="primaryAddress.province" formControlName="province" [ngClass]="{'is-invalid': submitted && f.province.errors}" ngModel maxlength="50" placeholder="Province" name="province">
                <div *ngIf="submitted && f.province.errors" class="invalid-feedback">
                    <div *ngIf="f.province.errors.required">Required Province</div>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="md-form form-group">
                <label for="name">Postal Code</label>
                <input type="text" class="form-control" id="postalCode" required [(ngModel)]="primaryAddress.postalCode" formControlName="postalCode" [ngClass]="{'is-invalid': submitted && f.postalCode.errors}" ngModel maxlength="50" placeholder="Postal Code" name="postalCode">
                <div *ngIf="submitted && f.province.errors" class="invalid-feedback">
                    <div *ngIf="f.postalCode.errors.required">Required Postal Code</div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="maxl">
            <span>Optional :  </span>
        </div>
    </div>

    <div class="form-row">
        <div class="col-sm-4">
            <div class="md-form form-group">
                <label for="name">House Number</label>
                <input type="text" class="form-control" id="houseNumber" required [(ngModel)]="secondaryAddress.houseNumber" placeholder="House number" name="houseNumber">
            </div>
        </div>

        <div class="col-sm-4">
            <div class="md-form form-group">
                <label for="name">Street</label>
                <input type="text" class="form-control" id="street" required [(ngModel)]="secondaryAddress.street" placeholder="Street" name="street">
            </div>
        </div>

        <div class="col-sm-4">
            <div class="md-form form-group">
                <label for="name">Town</label>
                <input type="text" class="form-control" id="town" required [(ngModel)]="secondaryAddress.town" placeholder="Town" name="town">
            </div>
        </div>

        <div class="col-sm-4">
            <div class="md-form form-group">
                <label for="name">Province</label>
                <input type="text" class="form-control" id="province" required [(ngModel)]="secondaryAddress.province" placeholder="Province" name="province">
            </div>
        </div>

        <div class="col-sm-4">
            <div class="md-form form-group">
                <label for="name">Postal Code</label>
                <input type="text" class="form-control" id="postalCode" required [(ngModel)]="secondaryAddress.postalCode" placeholder="Postal Code" name="postalCode">
            </div>
        </div>
    </div>
    <br>
    <div cclass="col-md-4 text-center">
        <button type="submit" (click)="btnSubmit()" class="btn btn-success">Submit</button>
        <button type="button" (click)="btnCancel()" class="btn btn-info " style="margin-left: 10px ">Cancel</button>
    </div>
</form>